[class^='nav__'] {
  &:not(:last-child) {
    padding: 1.4rem 2rem;
    cursor: pointer;
    transition: all 0.33s;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}

header {
  .hero-main {
    @include centerFlex;
    padding-bottom: 2.2rem;
  }

  .nav {
    background-color: steelblue;

    @include centerFlex;
    flex-flow: wrap;

    &__home {
      background-color: skyblue;
    }

    &__welcome {
      padding: 1.4rem 2rem;
      color: $white;
      text-shadow: -1px 1px 2px $black, 1px 1px 2px $black, 1px -1px 2px $black,
        -1px -1px 2px $black;
    }
  }
}
