////////////////////////////////////////
/////////// Button Classes /////////////
////////////////////////////////////////

.btn-submit {
  font-weight: 700;
  color: $white;
  background-color: $accent-pri;
  outline: none;
  border: 1px solid $black;
  border-radius: none;
  padding: 0.5rem;

  transition: all 0.25s;

  &:hover,
  &:active {
    color: $black;
    background-color: $accent-sec;
  }
}
